@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --grid-size: 50vh;
}

.game-board-container {
    height: var(--grid-size);
    width: var(--grid-size);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;

}

.grid-cell {
    height: calc(var(--grid-size) / 3 - 2px);
    width: calc(var(--grid-size) / 3 - 2px);
    background-color: white;
    border: 1px solid black;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f0f0f0;
    height: 100vh;
}

.divider {
    width: 100%;
    border: 1px solid black;
    margin-top: 0;
    margin-bottom: 20vh;
}

.header {
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.congratulation-display {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-title {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@media (max-width: 600px) {
    :root {
        --grid-size: 35vh;
    }
    
    .game-board-container {
        height: var(--grid-size);
        width: var(--grid-size);
    }
    
    .grid-cell {
        height: calc(var(--grid-size) / 3 - 2px);
        width: calc(var(--grid-size) / 3 - 2px);
        font-size: 2rem;
    }

    .page-title {
        font-size: 2rem;
    }

    .congratulation-display {
        font-size: 1.1rem;
        font-family: 'Roboto', sans-serif;
        width: 60%;
        text-align: center;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}